<html>
	<head>
	</head>
	<body>
		<h1>Rene Sanger</h1>
		<img height="400px" src="static/images/skyline.jpeg"/>
		
		<h3>Education</h3>
		<ul> 
			<li><a href="https://www.bths.edu/">Brooklyn Technical High School</a></li>
			<li><a href="https://hunter.cuny.edu/">Hunter College Cuny</a></li>
		</ul>

		<h3>Interests</h3>
		<ul> 
			<li><a href="https://en.wikipedia.org/wiki/Music">Music</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>
			<li><a href="https://www.guitarlessons.com/guitar-lessons/guitar-lessons-for-beginners/first-guitar-lesson">Playing Guitar and Piano</a></li>
		</ul>

		<h3>Favorite Foods</h3>
		<ul> 
			<li><a href="https://www.google.com/search?q=vietnamese+boneless+grilled+pork+over+rice&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjUhv2dz8bgAhUmmuAKHXaUD0cQ_AUIDigB&biw=1484&bih=787">Boneless Grilled Pork over Rice</a></li>
			<li><a href="https://www.momosushishack.com/#private-dining_undefined">Sushi</a></li>
			<li><a href="https://www.pizzahut.com/">Pizza</a></li>
		</ul>

	</body>
</html>
