<html>
	<head>
	</head>
	<body>
		Hello World
	</body>
</html>

<!--
January 6,2019

Http Requests
host -> google.com
path -> /flights
method -> GET and POST
header -> e.g. session_id
			cookies
body ->


wget or curl downloads files off websites
(WGET: web get)

curl -X 'GET' - - url "https://www.google.com

online example: curl https://www.computerhope.com/index.htm

HTTP codes 
200, 400, 500

200s: ex: 201 webapp created everything is good 

400s: you messed up  
ex: 
405 method not allowed 
404 file not found 

500s: internal server error

-->