<!DOCTYPE html>
<html>
	<head>
		<title>To Do List Web App</title>


	</head>
	<body>

		<h1 >TO DO LIST</h1>

		<div class = "todo"
			<ul>	
				{% for todo in todos %}
					<li>
					{% if todo[2] == 0 %}
						{{todo[1]}}
						<a href = "/delete/{{todo[0]}}"><button type="button" >Delete</button></a>
						<a href = "/complete/{{todo[0]}}"><button type="button" >Done</button></a>
						
					{% else %}
						
						<strike> {{todo[1]}}</strike>
						<a href = "/delete/{{todo[0]}}"><button type="button" >Delete</button></a>
						<a href = "/uncomplete/{{todo[0]}}"><button type="button" >Undo</button></a>
					{% endif %}
			
					</li>
				{% endfor %}
			</ul>
		</div><br>

	<div>
		<form action = "/add " method = "post">
			Task to add:
			<input type= "text" name = "new_task">
			<input type="submit" value="Submit">	
		</form>
	</div>


	<br><br><br>
	<a href="/logout">LOG OUT</a>
		
				 
	</form>
		
				
	</body>


</html>